.search {
    position: absolute;
    left: 10rem;
    top: 20rem;
    height: 40px;
    width: 20rem;
    font-family: "Open-Sans";
    padding-left: 8px;
    outline: none;
    border-style: solid;
    border-color: #484848;
    border-width: 1.5px;
    border-radius: 5px;
}

.search:hover {
    /* background-color: #fffcf1; */
    box-shadow: 1px 1px 4px rgba(148, 148, 148, 0.25);
}

.search:focus {
    /* background-color: #fffcf1; */
    box-shadow: 1px 1px 4px rgba(148, 148, 148, 0.25);
}
