.card-container {
    align-self: center;
    margin: auto;
    width: 80%;
    height: 100%;
    background: rgb(222, 222, 222);
    border-color: black;
    border-style: solid;
    border-width: 0.1rem;
    box-shadow: 4px 4px 8px rgba(183, 183, 183, 0.25);
}

.card-container:hover {
    transform: scale(1.1);
}