.card-list_canvas {
    width: 50vw;
    height: 100vh;
    margin-left: 30rem;
    margin-right: 30rem;
    margin-top: 1rem;
    border-style: dashed;
}

.card-list {
    grid-auto-flow: column;
    grid-auto-flow: row;
    display: grid;
    justify-items: center;
    row-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    border-style: dashed;
}

.member {
    margin: 0;
    width: 8.5rem;
    height: 10.5rem;
}
